container_commands:
  01_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/01_migrations.sh"
    leader_only: true
  02_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/02_createsu.sh"
    leader_only: true
  03_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/03_collectstatic.sh"
  04_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/04_seed.sh"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application